.cardtitle{
    position: absolute;
    padding: 50px;
}

.card-date{
    position: absolute;
    padding-left: 20px;
    margin-top: 60px;
}

.card-temp{
    position: absolute;
    padding-left: 20px;
    margin-top: 260px;
    font-size: 50px;

}

.card-icon{
    position: absolute;
    padding-left: 20px;
    margin-top: 300px;
   



}